db.sqlite3
**/migrations/**
**/migrations
!**/migrations/__init__.py
**/migrations/

__pycache__/
venv/
venvv/

*.png
*.jpg
*.jpeg
*.pdf
*.pyc
*.bak
*.dat
*.dir
*.docx


.env
local_todo.txt
OrcaPOS.exe
OrcaPOS.spec
build/
dist/

!/static/icons/*
.DS_Store
todo.txt

tst_folder/*